In [1]:
import spacy

In [2]:
from spacy.lang.en.stop_words import STOP_WORDS
STOP_WORDS
len(STOP_WORDS)

326

In [26]:
import spacy
nlp = spacy.load("en_core_web_lg")

In [27]:
nlp=spacy.load("en_core_web_lg")
doc=nlp("we just opened our wings,the flying part is coming soon")



for token in doc:
    if token.is_stop:
        print(token)

we
just
our
the
part
is

In [28]:
def preprocess(text):
    doc=nlp(text)
    
    
    
    no_stop_words=[token.text for token in doc if not token.is_stop and not token.is_punct]
    return "".join(no_stop_words)

In [29]:
preprocess("earning enthusiasts. Kaggle allows users to collaborate with other users, find and publish datasets, use GPU integrated notebooks, and compete with other data scientists to solve data science challenges. The aim of this online platform (founded in 2010 by Anthony Goldbloom and Jeremy Howard and acquired by Google in")

'earningenthusiastsKaggleallowsuserscollaborateusersfindpublishdatasetsuseGPUintegratednotebookscompetedatascientistssolvedatasciencechallengesaimonlineplatformfounded2010AnthonyGoldbloomJeremyHowardacquiredGoogle'

In [1]:
import pandas as pd

In [6]:
data=pd.read_json('combined.json.zip',lines=True)

In [7]:
data.shape

(13087, 6)

In [8]:
data.head()

,id,title,contents,date,topics,components
0,None,Convicted Bomb Plotter Sentenced to 30 Years,"PORTLAND, Oregon. – Mohamed Osman Mohamud, 23,...",2014-10-01T00:00:00-04:00,[],[National Security Division (NSD)]
1,12-919,$1 Million in Restitution Payments Announced t...,WASHINGTON – North Carolina’s Waccamaw River...,2012-07-25T00:00:00-04:00,[],[Environment and Natural Resources Division]
2,11-1002,$1 Million Settlement Reached for Natural Reso...,BOSTON– A $1-million settlement has been...,2011-08-03T00:00:00-04:00,[],[Environment and Natural Resources Division]
3,10-015,10 Las Vegas Men Indicted \r\nfor Falsifying V...,WASHINGTON—A federal grand jury in Las Vegas...,2010-01-08T00:00:00-05:00,[],[Environment and Natural Resources Division]
4,18-898,$100 Million Settlement Will Speed Cleanup Wor...,"The U.S. Department of Justice, the U.S. Envir...",2018-07-09T00:00:00-04:00,[Environment],[Environment and Natural Resources Division]

In [15]:
type(data.topics[0])         #### this are exploratemethods

list

In [11]:
data.info

<bound method DataFrame.info of             id                                              title  \
0         None       Convicted Bomb Plotter Sentenced to 30 Years
1      12-919   $1 Million in Restitution Payments Announced t...
2      11-1002  $1 Million Settlement Reached for Natural Reso...
3       10-015  10 Las Vegas Men Indicted \r\nfor Falsifying V...
4       18-898  $100 Million Settlement Will Speed Cleanup Wor...
...        ...                                                ...
13082   16-735  Yuengling to Upgrade Environmental Measures to...
13083   10-473  Zarein Ahmedzay Pleads Guilty to Terror Violat...
13084   17-045  Zimmer Biomet Holdings Inc. Agrees to Pay $17....
13085   17-252  ZTE Corporation Agrees to Plead Guilty and Pay...
13086   17-304  ZTE Corporation Pleads Guilty for  Violating U...

                                                contents  \
0      PORTLAND, Oregon. – Mohamed Osman Mohamud, 23,...
1        WASHINGTON – North Carolina’s Waccamaw River...
2            BOSTON– A $1-million settlement has been...
3        WASHINGTON—A federal grand jury in Las Vegas...
4      The U.S. Department of Justice, the U.S. Envir...
...                                                  ...
13082  The Department of Justice and the U.S. Environ...
13083    The Justice Department announced that Zarein...
13084  Subsidiary Agrees to Plead Guilty to Violating...
13085  ZTE Corporation has agreed to enter a guilty p...
13086  ZTE Corporation pleaded guilty today to conspi...

                            date  \
0      2014-10-01T00:00:00-04:00
1      2012-07-25T00:00:00-04:00
2      2011-08-03T00:00:00-04:00
3      2010-01-08T00:00:00-05:00
4      2018-07-09T00:00:00-04:00
...                          ...
13082  2016-06-23T00:00:00-04:00
13083  2010-04-23T00:00:00-04:00
13084  2017-01-12T00:00:00-05:00
13085  2017-03-07T00:00:00-05:00
13086  2017-03-22T00:00:00-04:00

                                                  topics  \
0                                                     []
1                                                     []
2                                                     []
3                                                     []
4                                          [Environment]
...                                                  ...
13082                                      [Environment]
13083                                                 []
13084                               [Foreign Corruption]
13085  [Asset Forfeiture, Counterintelligence and Exp...
13086           [Counterintelligence and Export Control]

                                              components
0                     [National Security Division (NSD)]
1           [Environment and Natural Resources Division]
2           [Environment and Natural Resources Division]
3           [Environment and Natural Resources Division]
4           [Environment and Natural Resources Division]
...                                                  ...
13082       [Environment and Natural Resources Division]
13083                   [Office of the Attorney General]
13084  [Criminal Division, Criminal - Criminal Fraud ...
13085  [National Security Division (NSD), USAO - Texa...
13086  [National Security Division (NSD), USAO - Texa...

[13087 rows x 6 columns]>

In [13]:
data.describe()

,id,title,contents,date,topics,components
count,12810,13087,13087,13087,13087,13087
unique,12672,12887,13080,2400,253,810
top,13-526,Northern California Real Estate Investor Agree...,"WASHINGTON – ING Bank N.V., a financial inst...",2018-04-13T00:00:00-04:00,[],[Criminal Division]
freq,3,8,2,20,8399,2680

In [16]:
data=data[data['topics'].str.len()!=0]                         #### use to find the lenth of function and also lambda

In [17]:
data.head()

,id,title,contents,date,topics,components
4,18-898,$100 Million Settlement Will Speed Cleanup Wor...,"The U.S. Department of Justice, the U.S. Envir...",2018-07-09T00:00:00-04:00,[Environment],[Environment and Natural Resources Division]
7,14-1412,14 Indicted in Connection with New England Com...,A 131-count criminal indictment was unsealed t...,2014-12-17T00:00:00-05:00,[Consumer Protection],[Civil Division]
19,17-1419,2017 Southeast Regional Animal Cruelty Prosecu...,The United States Attorney’s Office for the Mi...,2017-12-14T00:00:00-05:00,[Environment],"[Environment and Natural Resources Division, U..."
22,15-1562,21st Century Oncology to Pay $19.75 Million to...,"21st Century Oncology LLC, has agreed to pay $...",2015-12-18T00:00:00-05:00,"[False Claims Act, Health Care Fraud]",[Civil Division]
23,17-1404,21st Century Oncology to Pay $26 Million to Se...,21st Century Oncology Inc. and certain of its ...,2017-12-12T00:00:00-05:00,"[Health Care Fraud, False Claims Act]","[Civil Division, USAO - Florida, Middle]"

In [18]:
data.shape

(4688, 6)

In [20]:
data=data.head(100)
data.shape

(100, 6)

In [23]:
len(data["contents"].iloc[7])

5081

In [30]:
data["contents_new"]=data["contents"].apply(preprocess)

In [31]:
data.head()

,id,title,contents,date,topics,components,contents_new
4,18-898,$100 Million Settlement Will Speed Cleanup Wor...,"The U.S. Department of Justice, the U.S. Envir...",2018-07-09T00:00:00-04:00,[Environment],[Environment and Natural Resources Division],U.S.DepartmentJusticeU.S.EnvironmentalProtecti...
7,14-1412,14 Indicted in Connection with New England Com...,A 131-count criminal indictment was unsealed t...,2014-12-17T00:00:00-05:00,[Consumer Protection],[Civil Division],131countcriminalindictmentunsealedtodayBostonc...
19,17-1419,2017 Southeast Regional Animal Cruelty Prosecu...,The United States Attorney’s Office for the Mi...,2017-12-14T00:00:00-05:00,[Environment],"[Environment and Natural Resources Division, U...",UnitedStatesAttorneyOfficeMiddleDistrictGeorgi...
22,15-1562,21st Century Oncology to Pay $19.75 Million to...,"21st Century Oncology LLC, has agreed to pay $...",2015-12-18T00:00:00-05:00,"[False Claims Act, Health Care Fraud]",[Civil Division],21stCenturyOncologyLLCagreedpay$19.75milliongo...
23,17-1404,21st Century Oncology to Pay $26 Million to Se...,21st Century Oncology Inc. and certain of its ...,2017-12-12T00:00:00-05:00,"[Health Care Fraud, False Claims Act]","[Civil Division, USAO - Florida, Middle]",21stCenturyOncologyInc.certainsubsidiariesaffi...

In [32]:
len(data["contents"].iloc[7])

5081

In [38]:
len(data["contents_new"].iloc[7])

3413

In [41]:
data["contents"].iloc[7][:200]

'Federal agents have arrested 17 members and associates of the Nine Trey Gangster Bloods criminal street gang on charges of RICO conspiracy and related charges stemming from an indictment returned by a'

In [40]:
data["contents_new"].iloc[7][:200]

'Federalagentsarrested17membersassociatesTreyGangsterBloodscriminalstreetgangchargesRICOconspiracyrelatedchargesstemmingindictmentreturnedfederalgrandjuryNorthernDistrictGeorgiaOct.12unsealedyesterday\xa0'