In [28]:
import re
import pandas as pd

In [29]:
f=open('what_app data.txt','r',encoding='utf-8')

In [30]:
data=f.read()

In [31]:
print(data)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [32]:
print(type(data))

<class 'str'>

In [33]:
pattern='\d{1,2}/\d{1,2}/\d{1,2},\s\d{1,2}:\d{2}\s-\s'

In [34]:
messages=re.split(pattern,data)[1:]
len(messages)

213

In [35]:
dates=re.findall(pattern,data)
dates

['18/10/23, 18:30 - ',
 '23/10/23, 12:03 - ',
 '23/10/23, 12:03 - ',
 '23/10/23, 12:03 - ',
 '23/10/23, 12:04 - ',
 '23/10/23, 12:07 - ',
 '23/10/23, 12:07 - ',
 '23/10/23, 12:08 - ',
 '23/10/23, 12:09 - ',
 '23/10/23, 12:09 - ',
 '25/10/23, 16:07 - ',
 '25/10/23, 16:08 - ',
 '25/10/23, 16:09 - ',
 '25/10/23, 16:09 - ',
 '25/10/23, 16:09 - ',
 '25/10/23, 16:09 - ',
 '25/10/23, 16:20 - ',
 '25/10/23, 16:20 - ',
 '25/10/23, 16:20 - ',
 '25/10/23, 16:20 - ',
 '25/10/23, 16:21 - ',
 '25/10/23, 16:21 - ',
 '25/10/23, 16:22 - ',
 '25/10/23, 16:53 - ',
 '25/10/23, 21:36 - ',
 '26/10/23, 12:01 - ',
 '16/11/23, 14:35 - ',
 '16/11/23, 14:35 - ',
 '16/11/23, 14:35 - ',
 '16/11/23, 14:36 - ',
 '16/11/23, 14:36 - ',
 '16/11/23, 19:31 - ',
 '18/11/23, 07:09 - ',
 '18/11/23, 07:14 - ',
 '20/11/23, 18:44 - ',
 '23/11/23, 12:45 - ',
 '23/11/23, 12:45 - ',
 '28/11/23, 15:23 - ',
 '28/11/23, 15:25 - ',
 '28/11/23, 17:59 - ',
 '04/12/23, 11:21 - ',
 '04/12/23, 11:27 - ',
 '04/12/23, 11:28 - ',
 '26/11/23, 13:20 - ',
 '26/11/23, 10:56 - ',
 '19/09/23, 12:56 - ',
 '13/09/23, 00:18 - ',
 '13/09/23, 00:18 - ',
 '13/09/23, 00:32 - ',
 '13/09/23, 00:32 - ',
 '13/09/23, 06:59 - ',
 '13/09/23, 07:25 - ',
 '13/09/23, 07:25 - ',
 '13/09/23, 07:26 - ',
 '13/09/23, 08:02 - ',
 '13/09/23, 11:13 - ',
 '13/09/23, 18:57 - ',
 '13/09/23, 18:57 - ',
 '14/09/23, 14:26 - ',
 '14/09/23, 15:31 - ',
 '14/09/23, 15:31 - ',
 '14/09/23, 15:40 - ',
 '14/09/23, 15:40 - ',
 '13/09/23, 07:21 - ',
 '14/09/23, 15:42 - ',
 '13/09/23, 07:21 - ',
 '14/09/23, 15:42 - ',
 '13/09/23, 07:26 - ',
 '15/09/23, 07:57 - ',
 '13/09/23, 07:26 - ',
 '15/09/23, 08:01 - ',
 '14/09/23, 15:27 - ',
 '15/09/23, 08:01 - ',
 '14/09/23, 15:39 - ',
 '14/09/23, 15:39 - ',
 '14/09/23, 15:39 - ',
 '15/09/23, 08:17 - ',
 '14/09/23, 15:41 - ',
 '15/09/23, 08:17 - ',
 '14/09/23, 15:43 - ',
 '15/09/23, 07:58 - ',
 '15/09/23, 08:19 - ',
 '15/09/23, 08:17 - ',
 '15/09/23, 08:20 - ',
 '15/09/23, 08:19 - ',
 '15/09/23, 08:20 - ',
 '15/09/23, 14:51 - ',
 '15/09/23, 11:06 - ',
 '15/09/23, 14:51 - ',
 '15/09/23, 11:06 - ',
 '15/09/23, 14:51 - ',
 '15/09/23, 11:06 - ',
 '15/09/23, 14:52 - ',
 '15/09/23, 14:54 - ',
 '15/09/23, 14:54 - ',
 '15/09/23, 14:56 - ',
 '15/09/23, 18:44 - ',
 '15/09/23, 21:09 - ',
 '15/09/23, 21:09 - ',
 '15/09/23, 21:10 - ',
 '15/09/23, 21:13 - ',
 '15/09/23, 21:13 - ',
 '15/09/23, 21:14 - ',
 '15/09/23, 21:14 - ',
 '15/09/23, 21:14 - ',
 '15/09/23, 21:14 - ',
 '15/09/23, 21:14 - ',
 '15/09/23, 21:15 - ',
 '15/09/23, 21:15 - ',
 '15/09/23, 21:15 - ',
 '15/09/23, 21:15 - ',
 '15/09/23, 21:16 - ',
 '15/09/23, 21:15 - ',
 '15/09/23, 21:15 - ',
 '15/09/23, 21:16 - ',
 '15/09/23, 21:16 - ',
 '15/09/23, 21:16 - ',
 '15/09/23, 21:16 - ',
 '15/09/23, 21:17 - ',
 '15/09/23, 21:17 - ',
 '15/09/23, 21:17 - ',
 '15/09/23, 21:17 - ',
 '15/09/23, 21:17 - ',
 '15/09/23, 21:18 - ',
 '15/09/23, 21:18 - ',
 '15/09/23, 21:19 - ',
 '15/09/23, 21:19 - ',
 '15/09/23, 21:19 - ',
 '15/09/23, 21:19 - ',
 '15/09/23, 21:19 - ',
 '15/09/23, 21:19 - ',
 '15/09/23, 21:20 - ',
 '15/09/23, 21:20 - ',
 '15/09/23, 21:20 - ',
 '15/09/23, 21:20 - ',
 '15/09/23, 21:20 - ',
 '15/09/23, 21:24 - ',
 '16/09/23, 06:20 - ',
 '15/09/23, 21:58 - ',
 '15/09/23, 22:05 - ',
 '16/09/23, 06:21 - ',
 '16/09/23, 08:44 - ',
 '16/09/23, 10:28 - ',
 '16/09/23, 21:03 - ',
 '19/09/23, 21:13 - ',
 '19/09/23, 21:13 - ',
 '19/09/23, 21:13 - ',
 '19/09/23, 21:14 - ',
 '19/09/23, 22:29 - ',
 '19/09/23, 22:29 - ',
 '25/09/23, 20:38 - ',
 '26/09/23, 22:09 - ',
 '27/09/23, 20:52 - ',
 '27/09/23, 20:53 - ',
 '30/09/23, 17:58 - ',
 '30/09/23, 17:58 - ',
 '30/09/23, 17:58 - ',
 '04/10/23, 22:39 - ',
 '04/10/23, 22:57 - ',
 '07/10/23, 14:17 - ',
 '07/10/23, 14:18 - ',
 '07/10/23, 14:18 - ',
 '07/10/23, 22:01 - ',
 '07/10/23, 22:06 - ',
 '07/10/23, 22:07 - ',
 '07/10/23, 22:29 - ',
 '09/10/23, 22:23 - ',
 '09/10/23, 22:23 - ',
 '10/10/23, 17:48 - ',
 '12/10/23, 11:03 - ',
 '12/10/23, 11:03 - ',
 '03/11/23, 23:24 - ',
 '03/11/23, 23:31 - ',
 '04/11/23, 00:52 - ',
 '04/11/23, 01:05 - ',
 '04/11/23, 01:33 - ',
 '04/11/23, 01:33 - ',
 '04/11/23, 01:33 - ',
 '04/11/23, 01:39 - ',
 '04/11/23, 09:58 - ',
 '04/11/23, 09:59 - ',
 '27/11/23, 21:55 - ',
 '27/11/23, 21:55 - ',
 '27/11/23, 21:55 - ',
 '27/11/23, 21:55 - ',
 '27/11/23, 21:56 - ',
 '28/11/23, 00:30 - ',
 '28/11/23, 00:30 - ',
 '28/11/23, 00:31 - ',
 '28/11/23, 00:31 - ',
 '28/11/23, 00:31 - ',
 '28/11/23, 00:31 - ',
 '30/11/23, 18:14 - ',
 '30/11/23, 18:14 - ',
 '30/11/23, 19:03 - ',
 '03/12/23, 16:40 - ',
 '03/12/23, 16:40 - ',
 '19/09/23, 12:56 - ',
 '12/09/23, 15:12 - ',
 '22/09/23, 16:13 - ',
 '23/09/23, 10:57 - ',
 '28/09/23, 14:42 - ',
 '29/09/23, 13:28 - ',
 '30/09/23, 17:36 - ',
 '02/10/23, 12:20 - ',
 '11/10/23, 13:26 - ',
 '12/10/23, 13:13 - ',
 '15/10/23, 14:44 - ',
 '16/10/23, 08:35 - ',
 '31/10/23, 15:59 - ',
 '19/09/23, 12:56 - ',
 '11/09/23, 16:06 - ',
 '21/09/23, 17:21 - ']

In [36]:
df = pd.DataFrame({'user_message': messages, 'message_date': dates})
    # convert message_date type
df['message_date'] = pd.to_datetime(df['message_date'], format='%y/%m/%d, %H:%M - ')

df.rename(columns={'message_date': 'date'}, inplace=True)

In [37]:
df.head()

                                        user_message                date
0  Messages and calls are end-to-end encrypted. N... 2018-10-23 18:30:00
1                             Muniprasad Reddy: Hi\n 2023-10-23 12:03:00
2                            Muniprasad Reddy: Bro\n 2023-10-23 12:03:00
3                           Muniprasad Reddy: muni\n 2023-10-23 12:03:00
4   Muniprasad Reddy: What about the part-time job\n 2023-10-23 12:04:00

In [38]:
df.shape

(213, 2)

In [39]:
    users = []
    messages = []
    for message in df['user_message']:
        entry = re.split('([\w\W]+?):\s', message)
        if entry[1:]:  # user name
            users.append(entry[1])
            messages.append(" ".join(entry[2:]))
        else:
            users.append('group_notification')
            messages.append(entry[0])

    df['user'] = users
    df['message'] = messages
    df.drop(columns=['user_message'], inplace=True)

In [40]:
df.head()

,date,user,message
0,2018-10-23 18:30:00,group_notification,Messages and calls are end-to-end encrypted. N...
1,2023-10-23 12:03:00,Muniprasad Reddy,Hi\n
2,2023-10-23 12:03:00,Muniprasad Reddy,Bro\n
3,2023-10-23 12:03:00,Muniprasad Reddy,muni\n
4,2023-10-23 12:04:00,Muniprasad Reddy,What about the part-time job\n

In [41]:
df["Year"]=df['date'].dt.year

In [42]:
df.head()

,date,user,message,Year
0,2018-10-23 18:30:00,group_notification,Messages and calls are end-to-end encrypted. N...,2018
1,2023-10-23 12:03:00,Muniprasad Reddy,Hi\n,2023
2,2023-10-23 12:03:00,Muniprasad Reddy,Bro\n,2023
3,2023-10-23 12:03:00,Muniprasad Reddy,muni\n,2023
4,2023-10-23 12:04:00,Muniprasad Reddy,What about the part-time job\n,2023

In [43]:
 df["date"].dt.month_name()

0        October
1        October
2        October
3        October
4        October
         ...
208      October
209      October
210    September
211    September
212    September
Name: date, Length: 213, dtype: object